
.idea/modules.xml
.idea/t4-50001-1d.iml
.idea/vcs.xml
1d5/.idea/compiler.xml
.idea/modules.xml
.idea/t4-50001-1d.iml
.idea/vcs.xml
1d5/.idea/compiler.xml
1d5/.idea/deploymentTargetDropDown.xml
1d5/.idea/misc.xml
.idea/t4-50001-1d.iml
.idea/vcs.xml
1d5/.idea/compiler.xml
1d5/.idea/deploymentTargetDropDown.xml
1d5/.idea/misc.xml
.idea/modules.xml
